[SETTING]
DIR = C:\work\python\fins

[Machine1]
IP = 200.1.1.2
FINS = 0.2.0
PORT = 9600
NAME = GHR検査梱包機01
RECEIVE_ADRESS = D104,D204,D304,D404,D504,D604,D704,D904,D1104,D1304,D1404,D1504,D1604,D1704
RECEIVE_NAME = 年,月,日,時,分,秒,オーダー,ロット,生産数,不良数,ランスショート,ヒケショート,糸引き,薄壁ショート
RECEIVE_BIT_SIZE = INT16,INT16,INT16,INT16,INT16,INT16,INT32,INT32,INT32,INT16,INT16,INT16,INT16,INT16
RECEIVE_TRIGGER_ADRESS = D1
SEND_COMPLETE_ADRESS = D2

[1Machine2]
IP = 200.1.2.1
PORT = 9600
NAME = GHR検査梱包機02
RECEIVE_ADRESS = D200,D101,D102
RECEIVE_NAME = 生産数,不良数,積算数
RECEIVE_TRIGGER_ADRESS = D1002
SEND_COMPLETE_ADRESS = D1003

[1Machine3]
IP = 200.1.2.1
PORT = 9600
NAME = GHR検査梱包機03
RECEIVE_ADRESS = D100,D101,D102
RECEIVE_NAME = 生産数,不良数,積算数
RECEIVE_TRIGGER_ADRESS = D1004
SEND_COMPLETE_ADRESS = D1005

[1Machine4]
IP = 200.1.2.1
PORT = 9600
NAME = GHR検査梱包機04
RECEIVE_ADRESS = D100,D101,D102
RECEIVE_NAME = 生産数,不良数,積算数
RECEIVE_TRIGGER_ADRESS = D1006
SEND_COMPLETE_ADRESS = D1007

